@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,300,600,700,800);
body {
  height: 100vh;
  background-image: radial-gradient(#c4548a, #4a1060);
  color: #ccc;
  font-family: Raleway;
  letter-spacing: 0.15em;
  font-size: 20px;
}
canvas {
  position: absolute;
  z-index: -1;
  top: 0;
}
#wishes {
  width: 20em;
  margin: calc(50vh - 6.7em) auto;
  border: 1px dotted #e08ab0;
  text-align: center;
  background: hsla(320, 50%, 20%, 0.75);
}
span {
  display: inline-block;
}
span.jump {
  animation: jump 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s 2 alternate;
}
@keyframes jump {
  to {
    transform: translateY(-0.7em);
  }
}

#pleaseClick {
  position: absolute;
  background: hsla(320, 50%, 20%, 0.75);
  border: 1px dotted #e08ab0;
  font-size: 80%;
  width: 10em;
  text-align: center;
  left: calc(50vw - 5em);
  top: calc(50vh - 12.5em);
  animation: jump 1s ease-in-out infinite alternate;
}
#pleaseClick span {
  font-size: 200%;
}

.control {
  text-align: center;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18em;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 85'%3E%3Cpath d='M50 85 C50 85 5 50 5 25 C5 10 15 0 30 0 C40 0 48 6 50 12 C52 6 60 0 70 0 C85 0 95 10 95 25 C95 50 50 85 50 85Z' fill='%23e08ab0'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 0;
  margin-top: -11px;
}

input[type="range"]::-moz-range-thumb {
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 85'%3E%3Cpath d='M50 85 C50 85 5 50 5 25 C5 10 15 0 30 0 C40 0 48 6 50 12 C52 6 60 0 70 0 C85 0 95 10 95 25 C95 50 50 85 50 85Z' fill='%23e08ab0'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 22px;
  border: none;
  border-radius: 0;
}

input[type="range"]::-ms-thumb {
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 85'%3E%3Cpath d='M50 85 C50 85 5 50 5 25 C5 10 15 0 30 0 C40 0 48 6 50 12 C52 6 60 0 70 0 C85 0 95 10 95 25 C95 50 50 85 50 85Z' fill='%23e08ab0'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #777;
  height: 3px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  outline: none;
}

input[type="range"]::-moz-range-track {
  background-color: #777;
  height: 3px;
}

input[type="range"]::-ms-track {
  background-color: #777;
  height: 3px;
}

input[type="range"]::-ms-fill-lower {
  background-color: HotPink;
}

input[type="range"]::-ms-fill-upper {
  background-color: black;
}